.buttons {
  &__numbers {
    border: 1px solid red;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-auto-columns: 60px;
    grid-auto-flow: column;
    gap: 5px;
  }
}