.buttons {
  background-color: red;
  padding: 15px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 230px 60px;
  place-content: center;  
  &__numbers {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    grid-auto-columns: 60px;
    grid-auto-flow: column;
    gap: 15px;
  }
  &__operations {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    grid-auto-columns: 60px;
    gap: 15px;
  }
  &__options {
    display: grid;
    grid-auto-columns: 20vh;
    grid-auto-flow: column;
    height: 36px;
    gap: 15px;
    padding-top: 15px;
  }
}