.switch {
  display: flex;
  align-items: center;
  background-color: $color-dark-toggle;
  border-radius: 50px;
  width: 12vh;
  height: 4vh;
  &__button {
    background-color: $color-dark-toggle;
    border-radius: 65px;
    border: none;
    width: 14px;
    height: 14px;
    margin: 6px;
    cursor: pointer;
    &--active {
      background-color: $color-red-background;
    }
  }
}