.keyboard-calculator {
  height: 60vh;
  padding: 15px;

  &__items {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fill, 20%);
    grid-auto-flow: row;
    justify-items: center;
    background-color: $color-dark-toggle;
    gap: 15px;
    border-radius: 10px;
  }
}