.keyboard-calculator {
  width: 100%;
  height: auto;
  background-color: $color-dark-toggle;
  border-radius: 10px;
  padding: 18px;
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-auto-flow: row;
    justify-items: center;
    gap: 15px;
    &--actions {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 18px;
    }
  }
}
