.input-result {
    width: 100%;
    height: 90px;
    background-color: $color-dark-main;
    font-family: $font-family;
    font-size: 32px;
  .result {
      display: block;
      text-align: end;
      font-weight: 700;
      width: 100%;
      height: 70px;
      background-color: $color-dark-screen;
      border-radius: 8px;
      border-style: none;
      color: $color-white;
      outline: none;
      padding: 20px;
      &--light {
        background-color:  $color-light-screen;
        color: $color-dark-yellow;
      }
      &--dark {
        background-color: $color-violet-toggle;
        color: $color-yellow;
      }
    }
  &--light {
    background-color:$color-light-main;
  }
  &--dark {
    background-color: $color-violet-main;
  }
}