.switch-theme {
  display: flex;
  font-family: $font-family;
  color: $color-white;
  font-weight: 700;
  height: 14vh;
  &__numbers {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    height: 4.5vh;
  }
  &__title {
    font-weight: 700;
    color: $color-white;
    font-size: small;
    margin-top: 6vh;
    &--light {
      color: $color-dark-yellow;
    }
    &--dark {
      color: $color-yellow;
    }
  }
  &--light {
    color: $color-dark-yellow;
  }
  &--dark {
    color: $color-yellow;
  }
}